In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle

In [3]:
dataset = pd.read_csv('BIKE DETAILS.csv')

In [4]:
dataset['current_year'] = 2021
dataset['diff_year'] = dataset['current_year'] - dataset['year']
dataset.drop(['year', 'current_year', 'name'], axis=1, inplace=True)
dataset.replace({'1st owner':1, '2nd owner':2, '3rd owner':3, '4th owner':4}, inplace=True)

In [5]:
dataset = pd.get_dummies(dataset, drop_first=True)

In [6]:
dataset.dropna(inplace=True)

In [7]:
X = dataset.iloc[:, 1:].values
y = dataset.iloc[:, 0].values

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [9]:
from sklearn.svm import SVR
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
regressor = make_pipeline(StandardScaler(), SVR(C=1.0, epsilon=0.2))
regressor.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('svr', SVR(epsilon=0.2))])

In [10]:
pickle.dump(regressor, open('model.pkl', 'wb'))
model = pickle.load(open('model.pkl', 'rb'))

In [11]:
dataset

,selling_price,owner,km_driven,ex_showroom_price,diff_year,seller_type_Individual
2,150000,1,12000,148114.0,3,1
3,65000,1,23000,89643.0,6,1
5,18000,1,60000,53857.0,11,1
6,78500,1,17000,87719.0,3,1
9,50000,1,42000,60122.0,5,1
...,...,...,...,...,...,...
1056,17000,1,500000,52000.0,11,1
1057,16000,1,33000,51000.0,9,1
1058,15000,2,35000,57000.0,8,1
1059,12000,1,53000,58000.0,12,1
1060,10000,1,92233,75000.0,13,1